<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 10px;
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 3px 1px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: #333;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #e1306c;
  color: white;
}
.fa-500px {
  background: #0099e5;
  color: white;
}
</style>
	  
  </head>
  <body>
      <div class="wrapper">
      <header>
        <h1>Pushkar Joglekar</h1> 
        <p>Will code, learn and share knowledge for Ginger Tea!</p>
	<h2>Find me here</h2>

	<!-- Add font awesome icons -->
	<a href="#" class="fa fa-twitter">https://twitter.com/PuDiJoglekar</a>
	<a href="#" class="fa fa-github">https://github.com/PushkarJ</a>
	<a href="#" class="fa fa-linkedin">https://www.linkedin.com/in/pushkardj/</a>
	<a href="#" class="fa fa-instagram">https://www.instagram.com/pdjclicks/</a>
	<a href="#" class="fa fa-500px">https://500px.com/pdjclicks</a>

      </header>
      <section>

	{{ content }}
      
      </section>			
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
  </body>
</html>
